<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDStorymakersApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A29C4B1DD3FDA300DA0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A29C621DD3FDA300DA0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A29C6D1DD3FDA300DA0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
